@media only screen and (max-width: 600px) {
    .ReactModalPortal {
        div {
            div {
                width: 80%;
                height: 80%;
            }
        }
    }

    header {
        padding: 0 0px;
    }

    .project {
        div {
            height: 170px;
            width: 260px;
        }
    }

    .skills {
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) {
    .ReactModalPortal {
        div {
            div {
                width: 50%;
                height: 50%;
            }
        }
    }

    header {
        padding: 0 25px;
    }

    .project {
        div {
            height: 230px;
            width: 400px;
        }
    }

    .skills {
        flex-direction: row;
    }
}

@media only screen and (max-width: 1025px) {
    .whoami {
        width: 75% !important;
    }

    .skills {
        padding: 0 30px !important;
        div {
            width: 29% !important;
            margin-bottom: 30px !important;
        }
    }
}
@media only screen and (max-width: 769px) {
    .whoami {
        width: 90% !important;
    }

    .skills {
        div {
            width: 40% !important;
            margin-bottom: 30px !important;
        }
    }
}
@media only screen and (max-width: 600px) {
    .contact {
        flex-direction: column !important;
        padding: 70px 0;
    
        h2 {
            margin-right: 0 !important;
        }
    }

    .skills {
        div {
            width: 100% !important;
            margin: 0 auto 30px !important;
        }
    }
}