@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import './projects';
@import './media';

$focalFont: 'Ogg', serif;
$bodyFont: 'Raleway', sans-serif;
$scriptFont: 'Denmark', serif;

$leafImg: url("https://images.pexels.com/photos/1563332/pexels-photo-1563332.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
$CherryImg: url("https://images.pexels.com/photos/34435/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500");
$yellowImg: url("https://images.pexels.com/photos/1039106/pexels-photo-1039106.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
$headerImg: url("https://images.pexels.com/photos/1039109/pexels-photo-1039109.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");

@mixin accentSection($thisImg) {
    background-image: $thisImg;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'Ogg';
    src: url('../fonts/Ogg.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Ogg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Ogg.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Ogg.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Ogg.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Denmark';
    src: url('../fonts/Denmark.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Denmark.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Denmark.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Denmark.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Denmark.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $bodyFont;
    color: $darkText;
    letter-spacing: 1px;
}

body {
    background-color: $lightText;
}

.toTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: $secondColor;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


h2 {
    text-align: center;
    font-size: 38px;
    padding: 20px;
    font-family: $focalFont;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $secondColor;
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 3px $accent;
    border-bottom: $accent 2px solid;

    a {
        padding: 10px 20px;
        color: $lightText;
        text-decoration: none;
        font-size: 28px;
        font-family: $focalFont;
    }

    nav {
        a {
            font-size: 16px;
            font-family: $bodyFont;
        }
    }

    a:hover {
        color: $accent;
    }
}

.skillsPage {
    padding: 100px 0px;

    h2 {
        margin-bottom: 20px;
        padding-top: 0;
    }
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    
    div {
        background: $accent;
        margin: 0 20px;
        width: 30%;
        
        h4 {
            font-size: 30px;
            text-align: center;
            background: $secondColor;
            color: $lightText;
            font-family: $focalFont;
            padding: 30px;
            border: 5px solid $accent;
        }

        ul {
            padding: 30px 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    
        li {
            list-style-type: none;
            text-align: center;
            line-height: 25px;
            width: 50%;
        }
    }
}

.resume {
    padding: 120px 0px;
    display: flex;
    justify-content: center;
    @include accentSection($CherryImg);

    button {
        padding: 25px 50px;
        font-size: 20px;
        background-color: $secondColor;
        color: $lightText;
        box-shadow: 5px 5px 5px $accent;
        border: none;
        transition: all 500ms ease;
    }

    button:hover {
        color: $darkText;
        background-color: $accent;
        box-shadow: 5px 5px 5px $darkText;
        cursor: pointer;
    }
}

.links {
    @include accentSection($leafImg);
    display: flex;
    justify-content: space-around;
    padding: 120px 0px;
}

svg {
    height: 80px;
    width: 80px;
    color: $accent;
}

path {
    color: $accent;
}

path:hover {
    color: $lightText;
}

.contact {
    background: $secondColor;
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    h2 {
        color: $accent;
        margin-right: 100px;
    }

    h3 {
        text-align: center;
        color: $lightText;
        padding: 10px;
    }
}

.whoami {
    width: 50%;
    margin: 100px auto;

    .body {
        background: $accent;
        padding: 30px;
    }

    .title {
        padding-top: 30px;
        padding-bottom: 30px;
        border: 5px solid $accent;
        background-color: $secondColor;

        h2 {
            color: ghostwhite;
            padding: 0;
            font-family: $scriptFont;
            font-size: 50px;
        }
        h3 {
            color: ghostwhite;
            text-align: center;
            font-family: $focalFont;
            font-size: 28px;
        }
    }

    p {
        padding: 10px;
        line-height: 30px;
    }
}