@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
.projectsPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 60px 10px;
}

.project {
  border: 3px solid #4A4D54;
  border-radius: 2px;
  margin: 20px;
}

.project div {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.project h2 {
  text-align: center;
  padding: 10px;
}

.ReactModalPortal {
  color: #303030;
}

.ReactModalPortal div div {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ReactModalPortal div div p {
  margin: 15px 0px;
}

.ReactModalPortal div div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ReactModalPortal div div li {
  list-style-type: none;
  background-color: #FEECA4;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
}

.ReactModalPortal div div .modalLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ReactModalPortal div div .modalLinks a {
  margin: 5px;
}

.ReactModalPortal div div button {
  background-color: #4A4D54;
  color: ghostwhite;
  padding: 10px;
  font-size: 15px;
  border-radius: 3px;
  border: none;
}

.ReactModalPortal div div button:hover {
  color: #FEECA4;
}

.ReactModalPortal div div svg {
  width: 30px;
  height: 30px;
  background-color: #303030;
  border-radius: 4px;
}

.Areii {
  background-image: url("../images/Areii.PNG");
}

.Pawesome {
  background-image: url("../images/PawesomePets.PNG");
}

.AdviceAPI {
  background-image: url("../images/AdviceAPI.png");
}

.Dalton {
  background-image: url("../images/DaltonCottage.png");
}

.MarioPest {
  background-image: url("../images/Mario.png");
}

.BountyHunter {
  background-image: url("../images/BountyHunter.png");
}

.DJReact {
  background-image: url("../images/DJReact.png");
}

.FloraMagazine {
  background-image: url("../images/magazine.png");
}

.WerewolfRole {
  background-image: url("../images/WerewolfRole.png");
}

@media only screen and (max-width: 600px) {
  .ReactModalPortal div div {
    width: 80%;
    height: 80%;
  }
  header {
    padding: 0 0px;
  }
  .project div {
    height: 170px;
    width: 260px;
  }
  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .ReactModalPortal div div {
    width: 50%;
    height: 50%;
  }
  header {
    padding: 0 25px;
  }
  .project div {
    height: 230px;
    width: 400px;
  }
  .skills {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (max-width: 1025px) {
  .whoami {
    width: 75% !important;
  }
  .skills {
    padding: 0 30px !important;
  }
  .skills div {
    width: 29% !important;
    margin-bottom: 30px !important;
  }
}

@media only screen and (max-width: 769px) {
  .whoami {
    width: 90% !important;
  }
  .skills div {
    width: 40% !important;
    margin-bottom: 30px !important;
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 70px 0;
  }
  .contact h2 {
    margin-right: 0 !important;
  }
  .skills div {
    width: 100% !important;
    margin: 0 auto 30px !important;
  }
}

@font-face {
  font-family: 'Ogg';
  src: url("../fonts/Ogg.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Ogg.eot?#iefix") format("embedded-opentype"), url("../fonts/Ogg.woff") format("woff"), url("../fonts/Ogg.ttf") format("truetype"), url("../fonts/Ogg.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Denmark';
  src: url("../fonts/Denmark.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Denmark.eot?#iefix") format("embedded-opentype"), url("../fonts/Denmark.woff") format("woff"), url("../fonts/Denmark.ttf") format("truetype"), url("../fonts/Denmark.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #303030;
  letter-spacing: 1px;
}

body {
  background-color: ghostwhite;
}

.toTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #4A4D54;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

h2 {
  text-align: center;
  font-size: 38px;
  padding: 20px;
  font-family: "Ogg", serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4A4D54;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 3px 3px #FEECA4;
          box-shadow: 0px 3px 3px #FEECA4;
  border-bottom: #FEECA4 2px solid;
}

header a {
  padding: 10px 20px;
  color: ghostwhite;
  text-decoration: none;
  font-size: 28px;
  font-family: "Ogg", serif;
}

header nav a {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

header a:hover {
  color: #FEECA4;
}

.skillsPage {
  padding: 100px 0px;
}

.skillsPage h2 {
  margin-bottom: 20px;
  padding-top: 0;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills div {
  background: #FEECA4;
  margin: 0 20px;
  width: 30%;
}

.skills div h4 {
  font-size: 30px;
  text-align: center;
  background: #4A4D54;
  color: ghostwhite;
  font-family: "Ogg", serif;
  padding: 30px;
  border: 5px solid #FEECA4;
}

.skills div ul {
  padding: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills div li {
  list-style-type: none;
  text-align: center;
  line-height: 25px;
  width: 50%;
}

.resume {
  padding: 120px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("https://images.pexels.com/photos/34435/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.resume button {
  padding: 25px 50px;
  font-size: 20px;
  background-color: #4A4D54;
  color: ghostwhite;
  -webkit-box-shadow: 5px 5px 5px #FEECA4;
          box-shadow: 5px 5px 5px #FEECA4;
  border: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.resume button:hover {
  color: #303030;
  background-color: #FEECA4;
  -webkit-box-shadow: 5px 5px 5px #303030;
          box-shadow: 5px 5px 5px #303030;
  cursor: pointer;
}

.links {
  background-image: url("https://images.pexels.com/photos/1563332/pexels-photo-1563332.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 120px 0px;
}

svg {
  height: 80px;
  width: 80px;
  color: #FEECA4;
}

path {
  color: #FEECA4;
}

path:hover {
  color: ghostwhite;
}

.contact {
  background: #4A4D54;
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact h2 {
  color: #FEECA4;
  margin-right: 100px;
}

.contact h3 {
  text-align: center;
  color: ghostwhite;
  padding: 10px;
}

.whoami {
  width: 50%;
  margin: 100px auto;
}

.whoami .body {
  background: #FEECA4;
  padding: 30px;
}

.whoami .title {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 5px solid #FEECA4;
  background-color: #4A4D54;
}

.whoami .title h2 {
  color: ghostwhite;
  padding: 0;
  font-family: "Denmark", serif;
  font-size: 50px;
}

.whoami .title h3 {
  color: ghostwhite;
  text-align: center;
  font-family: "Ogg", serif;
  font-size: 28px;
}

.whoami p {
  padding: 10px;
  line-height: 30px;
}
/*# sourceMappingURL=styles.css.map */